body{
    padding: 100px;
}
.submit-area{
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.submit-area:hover{
    box-shadow: 5px 5px 10px rgb(165, 247, 189);
}
#transaction-area{
    display: none;
}
.txtBtm{
    margin-bottom: 50px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}